header{
  background-color: #222222;
  padding: 10px 0px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.profile-image{
  height: 50px;
  width: auto;
  border-radius: 25px;
}
