.nocontent-page-container{
  padding-top: 10%;
  width: 100%;
  background-image: url('http://imgur.com/1RPFqA4.jpg');
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.nocontent-link-container{
  margin: 0 auto;
  padding: 30px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 15px;
  text-align: center;
}
.nocontent-link-container a{
  display: inline-block;
  padding: 5px 40px;
  text-decoration: none;
  color: #ffffff;
  background-color: #008800;
}
